.create-accounts{
    display: flex;
    flex-wrap: wrap;
    height: 69vh;
    width: 73.5%;
    border-radius: 10px;
    background: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 4px #c9c9c9;
    
    form{
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 100%;

        .data{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 0 5%;

            .input-container{
                display: flex;
                align-items: center;
                height: 40px;
    
                i{
                    margin-right: 10px;
                }
    
                .account-type-input{
                
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    
                    border-radius: 5px;
                    width: 20px;
                    height: 20px;
                    border: 2px solid #999;
                
                    &:checked {
                        border-color: #9840e6;
                        border-radius: 0;
                        border-top: none;
                        border-left: none;
                        margin: 0 5px;
                        width: 10px;
                        transform: rotate(40deg);
                    }
                }
    
                .account-type-input{
                    transition: 0.25s all linear;
                }
            } 
        }
        
        .submit-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;

            button{
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border-radius: 10px;
    
                font-size: 150%;
                color: #9840e6;
                padding: 10px;
    
                i{
                    font-size: 40px;
                }
    
                &:hover{
                    background-color: #9840e6;
                    color: #FFFFFF;
                    
                }
            }
    
            button{
                transition: 0.3s;
            }
        }
    }
}