.accounts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 69vh;
    width: 73.5%;
    border-radius: 10px;
    background: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 4px #c9c9c9;
}