.accounts{
    display: flex;
    flex-wrap: wrap;
    height: 69vh;
    width: 73.5%;
    border-radius: 10px;
    background: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 4px #c9c9c9;

    .accounts-icon{
        color: #9840e6;
        background: #ffffff;
        padding: 10px;
        border-radius: 50px;
        font-size: 50px;
        position: absolute;
        margin-top: -45px;
        margin-left: -45px;
        border: 8px solid #f5f5f5;
        z-index: 1;
    }
}