.nexts-cards{
    display: flex;
    flex-direction: column;
    height: 32vh;
    width: 100%;
    margin-bottom: 5vh;
    border-radius: 10px;
    background: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 4px #c9c9c9;

    .accounts-icon{
        color: #9840e6;
        background: #ffffff;
        padding: 10px;
        border-radius: 50px;
        font-size: 50px;
        position: absolute;
        margin-top: -30px;
        margin-left: -30px;
        border: 8px solid #f5f5f5;
    }
}