@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
/*blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}*/
del {
	text-decoration:line-through;
}
hr {
	background:transparent;
	border:0;
	clear:both;
	color:transparent;
	height:1px;
	margin:0;
	padding:0;
}
mark {
	background-color:#ffffb3;
	font-style:italic
}
input, select {
	vertical-align:middle;
}
ins {
	background-color:red;
	color:white;
	text-decoration:none;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

*{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

body{
	background-color: #f5f5f5;
	overflow: hidden;
}

.content{
	display: flex;
    flex-direction: column;
}

nav{
	width: 12vw;
}

.body{
	display: flex;
    justify-content: space-around;
	height: 77vh;

	.next-cards-container{
		width: 74%;
	}

	.accounts-icon{
        color: #9840e6;
        background: #ffffff;
        padding: 10px;
        border-radius: 50px;
        font-size: 50px;
        position: absolute;
        margin-top: -45px;
        margin-left: -45px;
        border: 8px solid #f5f5f5;
        z-index: 1;
    }
}

.positive{
	color: #00c96b;
}

.negative{
	color: #c90000;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #e2e2e2;      
}

*::-webkit-scrollbar-thumb {
	background: #9235e4;
	border-radius: 20px; 
}

*::-webkit-scrollbar-thumb:hover {
	background: #8018db;;
}