.authentication-register{
    
    font-size: 1em;

    i{
        font-size: 1.3em;
    }

    .input-group{
        width: 45% !important;
    }

    input[type="file"]{
        border: none;
    }
}